* { margin: 0; padding: 0; box-sizing: border-box;}

.grid {
    background: red;
    display: block;
    clear: both;
    
}

.col {
    width: 33.33%;
    height: 300px;
    padding: 10px;
    float: left;
}

.col-content {
    width: 100%;
    height: 100%;
    background: red;
}


/* MEDIA QUERIES: pontos que voce define para que os elementos se comportem diferente ao chegar a X de tamanho */

/* BREAK POINTS: pontos de css que, quando colocado no media queries, sobrescrevem os já colocados anteriormente e aplicam aquele tamanho */

/* links da aula: 
https://developer.mozilla.org/pt-BR/docs/Web/CSS/CSS_media_queries/Using_media_queries
https://www.w3schools.com/cssref/css3_pr_mediaquery.php
https://devfacts.com/media-queries-breakpoints-2023/ */


@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 700px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 701px) and (max-width: 1200px) {
    .grid .col {
        width: 33%;
    }
}

@media all and (min-width: 1201px) {
    .grid .col {
        width: 25%;
    }
}
